/* for mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .banner_container {
    flex-direction: column;
  }
  .banner_container {
    text-align: center;
  }
  .banner_container .banner_title {
    font-size: 1.7rem;
    line-height: normal;
  }
  nav li {
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 600;
  }
  nav li:last-child {
    margin-right: 0;
  }
  .partner_img_container{
    flex-wrap: wrap;
    gap: 20px;
  }
  .partner_img_container img{
    width: 20%;
  }

}
/* for table or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .partner_img_container{
    flex-wrap: wrap;
  }
}