/* for mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .banner_container,
  #featured{
    flex-direction: column;
  }
  .banner_container,
  #featured{
    text-align: center;
  }
  .banner_container .banner_title,
  .featured_content .featured_title{
    font-size: 1.7rem;
    line-height: normal;
  }
  nav li {
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 600;
  }
  nav li:last-child {
    margin-right: 0;
  }
  .partner_img_container{
    flex-wrap: wrap;
    gap: 20px;
  }
  .partner_img_container img{
    width: 20%;
  }
  .collection_card_wrapper{
    grid-template-columns: 1fr;
  }
  #featured{
    gap: 30px;
  }
  .featured_content{
    order: 1;
  }
  .featured_img{
    order: 2;
  }
}


@media screen and (min-width: 577px) and (max-width: 768px){
  #featured{
    flex-direction: column;
    gap: 20px;
    }
    .featured_content{
      order: 1;
      text-align: center;
    }
    .featured_content .featured_title{
      font-size: 2.6rem;
    }
    .featured_content .description{
      margin: 10px auto;
    }
    .featured_img{
      order: 2;
    }
}


/* for table or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .partner_img_container{
    flex-wrap: wrap;
  }
  .collection_card_wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}